<aside>
    <section>
        <h2>recherche des Utilisateurs</h2>
        <form>
            <label>Région :</label>
            <input />
            <label>Agence :</label>
            <input />
            <label>Secteur :</label>
            <input />
            <label>Utilisateur(nom/prénom) :</label>
            <input />
            <label>Identifiant</label>
            <input />
            <label>Gestion des utilisateurs:</label>
            <input type="checkbox" />
            <label>Inclure les utilisateurs supprimés :</label>
            <input type="checkbox" />
            <button ng-click="recherche()">Rechercher</button>
        </form>
    </section>
    <section>
        <div>
            <h2>Résultat de la recherche</h2>
            <ul ng-repeat="user in utilisateurs">
                <li>
                    <a href="#" ng-click="selectUser(user)"> {{user.Nom}}</a>
                </li>
            </ul>
            <!--<table class="table table-bordered">
                <tr>
                    <th class="col-md-1">Identifiant</th>
                    <th class="col-md-1">Nom</th>
                    <th class="col-md-1">Prenom</th>
                    <th class="col-md-1">Mail</th>
                    <th class="col-md-1">Societe</th>
                    <th class="col-md-1">CleAgence</th>
                    <th class="col-md-1">CleProfil</th>
                    <th class="col-md-1">CleUtilisateur</th>
                    <th class="col-md-1">Supprimé</th>
                </tr>
                <tr ng-repeat="user in utilisateurs" >
                    <td>{{user.Identifiant}}</td>
                    <td>{{user.Nom}}</td>
                    <td>{{user.Prenom}}</td>
                    <td>{{user.Mail}}</td>
                    <td>{{user.Societe}}</td>
                    <td>{{user.CleAgence}}</td>
                    <td>{{user.CleProfil}}</td>
                    <td>{{user.CleUtilisateur}}</td>
                    <td class="glyphicon glyphicon-remove" ng-click="deleteUrsUtilisateur($index)"></td>
                </tr>
            </table>-->
        </div>
        <!--ng-if completly retire useless element from the DOM instead of simply hidding them-->
        <div ng-if="nombreResultatTrouve=0">aucun résultat trouvé</div>
        <div ng-if="nombreResultatTrouve>=1">{{nombreResultatTrouve}} résultat(s) touvé(s)</div>
    </section>
</aside>